# VSCode surrounding
__pycache__/
*.py[cod]
*$py.class

Python/raw/__pycache__/
Python/raw/__pycache__/*
Python/raw/QuardBayer_GRBG.bin
Python/raw/GUI/SampleInstaller/build/*
Python/raw/GUI/SampleInstaller/dist/*
Python/stdf2map-master/*